.background {
    background-image: url('../../../assets/images/fondo2.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100%; 
    width: 100%; 
    position:relative;
    
    
  }

.titulo{
position: relative;
left: 18%;

}

