<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu" text="Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2> ID: {{ usuario.id }}</h2>
        <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
        <p>{{ usuario.email }}</p>
      </ion-label>
      <ion-button slot="end" (click)="actualizarUsuario(usuario)">Actualizar</ion-button>

    </ion-item>
  </ion-list>
</ion-content>


